/* ---------------- CSS TABS -----------------*/
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  width: 50%;
}

.tablink:hover {
  background-color: #777;

}

.tabcontent {
  color: white;
  display: none;
  padding-top: 50px;
  height: 100%;
  border-radius: 10px;
}

#mahasiswa {background-color: #00aad4ff;}
#lembagakemahasiswaan {background-color: #00aad4ff;}


body{
    font-family: 'Quicksand', sans-serif !important;
    font-size: 22px;
}
